/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}


/* Custom Layout Containers
-------------------------------------------------- */
.cbn-header-container {
    display: flex;
    flex-wrap:wrap;
    column-gap: 40px;
    /*grid-template-columns: 300px 250px 200px;*/
    grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
    margin-bottom: 5px;
    margin-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin-left: 20px;
}

.cbn-header-content {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    margin: 20px 0px;
    min-width: 300px;
}

.cbn-header-content-title {
    display: block;
    color: #EF4F5C;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

@media (min-width: 420px) and (max-width: 580px) {
    .cbn-header-container {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
        margin-top: 0px;
        padding-left: 0px;
        padding-bottom: 15px;
        margin-left: 5px;
    }
    .cbn-header-content {
        background-color: #ffffff;
        padding: 10px;
        border-radius: 10px;
        margin: 10px 0px;
        min-width: 300px;
    }
    .cbn-image-max {
        max-width: 200px;
    }
}

/* Button styles
-------------------------------------------------- */
.cbn-button-upload {
    background-color: #F7D065;
    color: #000000;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    border-style: none;
    outline: none;
    box-shadow: 1px 7px 14px -5px rgba(0,0,0,0.2);
    transition: all .4s ease;
}

    .cbn-button-upload:hover {
        background-color: #6EDE00;
    }

.cbn-button-information {
    background-color: #F7D065;
    color: #000000;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    border-style: none;
    outline: none;
    box-shadow: 1px 7px 14px -5px rgba(0,0,0,0.2);
    transition: all .4s ease;
}

    .cbn-button-information:hover {
        background-color: #6EDE00;
    }

/* Custom Input File Button Style
-------------------------------------------------- */
input[type="file"]::file-selector-button {
    background-color: #F7D065;
    color: #000000;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    display: inline-block;
    border-radius: 5px;
    border-style: none;
    outline: none;
    box-shadow: 1px 7px 14px -5px rgba(0,0,0,0.2);
    transition: all .4s ease;
}

    input[type="file"]::file-selector-button:hover {
        background-color: #6EDE00;
    }

.cbn-settings-table {
    width: 100%;
    border-spacing: 0px 5px;
    border-collapse: separate;
}

.cbn-body {
    background-color: #3889D7 !important;
    padding-left: 0px !important;
    max-width:1100px;
}

.cbn-footer {
    margin-top: 5px;
}

.cbn-images-wrapper {
    background-color: #3889D7;
    margin-left: -25px;
    font-weight: 500;
    color: #ffffff;
}

.cbn-results-table {
    border-spacing: 40px 10px;
    border-collapse: separate;
}
    .cbn-results-table td {
        text-align: left;
        max-width: 800px;
    }

.cbn-image-max {
    height: auto;
    max-width:100%;
}

.cbn-button-panel {
    margin-left: 20px;
    padding-bottom: 20px;
}

.cbn-information {
    color: #ffffff;
    padding: 0px 20px;
    padding-bottom:20px;
    font-size: 16px;
}

/* Custom Header Menu
-------------------------------------------------- */
ul.menu {
    list-style-type: none;
    margin-bottom: 0px;
    padding-left: 20px;
    overflow: hidden;
    background-color: #1D3E75;
}

    ul.menu li.menu-option {
        float: left;
    }

li.menu-option {
    display: block;
    text-align: center;
    padding: 7px 10px;
    vertical-align: middle;
}

    li.menu-option a {
        display: block;
        color: white;
        text-align: center;
        padding: 7px 10px;
        text-decoration: none;
        font-size: 26px;
    }

li a:hover:not(.active) {
    background-color: #313540;
}


/* Image Magnifier
-------------------------------------------------- */
* {
    box-sizing: border-box;
}

.img-magnifier-container {
    position: relative;
}

.img-magnifier-glass {
    position: absolute;
    border: 3px solid #000;
    border-radius: 50%;
    cursor: none;
    /*Set the size of the magnifier glass:*/
    width: 100px;
    height: 100px;
}
